Repository ukwhatn/fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-generate, frontend-lint, frontend-type-check

openapi-generate:
  name: Generate OpenAPI spec
  entry: make openapi:generate
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-lint:
  name: Frontend lint with ESLint
  entry: make frontend:lint:fix
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-type-check:
  name: Frontend type check with tsc
  entry: make frontend:type-check
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: 微修正
  Makefile
  app/main.py
Due: openapi-generate

deps: update
  uv.lock
Due: none

fix: テスト環境でSPAマウント無効化とPydantic警告抑制
  app/main.py
  pyproject.toml
Due: openapi-generate

refactor: ワークフローファイルとComposeファイルをdev→stgにリネーム
  .github/workflows/cd-stg.yml
  compose.stg.yml
Due: none

chore: .gitignoreに生環境変数ファイルを追加
  .gitignore
Due: none

feat: .env.exampleにAPP_NAME設定を追加
  .env.example
Due: none

refactor: .sops.yamlの環境をdev→stgに変更
  .sops.yaml
Due: none

refactor: config.pyでstaging環境をサポートし関連機能を追加
  app/core/config.py
Due: openapi-generate

refactor: インフラストラクチャレイヤーをstaging環境に対応
  app/infrastructure/batch/tasks/backup.py
  app/infrastructure/database/migration.py
Due: openapi-generate

refactor: main.pyでnormalized_env_modeを使用
  app/main.py
Due: openapi-generate

fix: compose.local.ymlのポートマッピングを修正
  compose.local.yml
Due: none

refactor: Makefileをdev→stgに変更し.PHONYを追加
  Makefile
Due: none

docs: ドキュメントをdev→stgに更新
  README.md
  docs/deployment.md
  docs/secrets-management.md
Due: none

refactor: スクリプトとワークフローをdev→stgに変更
  .github/workflows/cd_deliverer.yml
  scripts/setup-server.sh
Due: none

chore: 暗号化された環境変数ファイルを追加
  .env.prod.enc
  .env.stg.enc
Due: none

refactor: リネームしたファイルの内容をdev→stgに更新
  .github/workflows/cd-stg.yml
  compose.stg.yml
Due: none

wip: stgで動かすための試行錯誤
  .env.example
  .env.prod.enc
  .env.stg.enc
  Makefile
  app/main.py
  app/static/test.png
  compose.prod.yml
  compose.stg.yml
  docs/deployment.md
Due: openapi-generate

refactor: フロントエンドマウントパスを/adminに変更
  app/main.py
  openapi.json
Due: openapi-generate

refactor: Viteのbaseパスを/admin/に設定
  frontend/vite.config.ts
Due: frontend-lint, frontend-type-check

refactor: React Routerのbasenameを/adminに設定
  frontend/src/main.tsx
Due: frontend-lint, frontend-type-check

docs: フロントエンドアクセスURLを/adminに更新
  CLAUDE.md
  README.md
Due: none

feat: healthcheckエンドポイントにDB接続状況とuptimeを追加
  app/main.py
  app/presentation/api/system/healthcheck.py
  app/presentation/schemas/system.py
  openapi.json
  tests/integration/api/system/test_healthcheck.py
Due: openapi-generate

refactor: バックアップコマンドをdocker compose経由に統一
  Makefile
Due: none

fix: 微調整
  compose.prod.yml
  compose.stg.yml
  tests/integration/api/test_errors.py
Due: none

refactor: main.pyを分割してアプリケーションファクトリーパターンを導入
  app/core/app_factory.py
  app/core/lifespan.py
  app/core/monitoring.py
  app/main.py
  app/presentation/exception_handlers/__init__.py
  app/presentation/exception_handlers/handlers.py
  app/presentation/middleware/error_handler.py
  app/presentation/middleware/session.py
  app/presentation/static/__init__.py
  app/presentation/static/spa.py
Due: openapi-generate

fix: 環境別設定ファイルとマイグレーションログレベルを修正
  Makefile
  app/infrastructure/database/migration.py
Due: openapi-generate

test: BatchTaskクラスのテストを追加
  tests/unit/infrastructure/batch/__init__.py
  tests/unit/infrastructure/batch/test_base.py
Due: none

test: add comprehensive unit tests for scheduler module
  tests/unit/infrastructure/batch/test_scheduler.py
Due: none

test: タスクレジストリの単体テストを追加
  tests/unit/infrastructure/batch/test_registry.py
Due: none

test: テストケース整理
  tests/integration/api/system/test_views.py
  tests/unit/core/test_config.py
  tests/unit/infrastructure/batch/test_base.py
  tests/unit/infrastructure/batch/test_registry.py
  tests/unit/infrastructure/batch/test_scheduler.py
  tests/unit/infrastructure/database/backup/test_diff_core.py
  tests/unit/infrastructure/database/backup/test_migration_version.py
  tests/unit/infrastructure/database/backup/test_models.py
  tests/unit/infrastructure/repositories/test_session_repository.py
  tests/unit/infrastructure/security/test_encryption.py
  tests/unit/presentation/api/test_deps.py
  tests/unit/presentation/exception_handlers/__init__.py
  tests/unit/presentation/exception_handlers/test_handlers.py
  tests/unit/presentation/exceptions/test_api_errors.py
  tests/unit/presentation/middleware/test_security_headers.py
  tests/unit/utils/test_session_helper.py
Due: none

fix: mypy
  tests/unit/presentation/exception_handlers/test_handlers.py
Due: none

fix: ci設定修正
  .github/workflows/ci_docker-test.yml
  .github/workflows/ci_test.yml
Due: none

fix: cd環境名変更
  .github/workflows/cd-prod.yml
Due: none

fix: ci_docker-testのキャッシュを修正しGHA cacheを有効化
  .github/workflows/ci_docker-test.yml
Due: none

perf: cd_builderのキャッシュスコープを明示的に指定
  .github/workflows/cd_builder.yml
Due: none

feat: フロントエンドCI（lint/type-check）を追加
  .github/workflows/ci_frontend.yml
Due: none

feat: ci.ymlにフロントエンドチェックを統合
  .github/workflows/ci.yml
Due: none

docs: CI/CD最適化のドキュメントを追加
  docs/ci-cd-optimization.md
Due: none

fix: ci_docker-testのキャッシュ戦略を最適化しブランチ間共有を改善
  .github/workflows/ci_docker-test.yml
Due: none

fix: cd_builderキャッシュ戦略改善
  .github/workflows/cd_builder.yml
Due: none

Path conditions:
  openapi-generate: any of: ^app/.*\.py$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
